
.main-title{
  
    @include font (null, 900, 26px, 1.61, 0.06em, var(--title-text-color2));

    @media screen and (min-width:768px) {
        max-width: 768px;
        @include font (null, 900, 26px, 1.61, 0.06em, var(--title-text-color2));

    }

    @media screen and (min-width:1200px) {
        max-width: 1200px;
        @include font (null, 900, 44px, 1.36, 0.06em, var(--title-text-color2));

       
    }

    text-align: center;
    text-transform: uppercase;
   
 }
 