@mixin font ($fnf, $fnw, $fns, $fnh, $fnsp, $clr)
{
    font-family: $fnf;
    font-weight: $fnw;
    font-size: $fns; 
    line-height: $fnh;
    letter-spacing: $fnsp;

    color:$clr;
}

@mixin mobile{
@media screen and (min-width:480px) {
   @content;
}
}

@mixin tablet{
    @media screen and (min-width:768px) {
       @content;
    }
    }

@mixin desktop{
      @media screen and (min-width:1200px) {
      @content;
        }
        }

 @mixin retina{
    @media (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      @content;
    }
            }


