.footer{
    background-color:  #2F303A;
    margin: 0 auto;
    padding-top:60px;
    padding-bottom: 60px;

    @include tablet{
        padding-top:0;
        padding-bottom: 60px;
    }

    @include desktop{
        padding-top:0;
        padding-bottom: 0;
    }

}

.footer-container{
    align-items: baseline;

    @media screen and (min-width:480px) {
        max-width: 480px;
      
    }

    @media screen and (min-width:768px) {
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
        
    }

    @media screen and (min-width:1200px) {
        max-width: 1200px;
        display: flex;
        flex-wrap: nowrap;
       
    }

}

.logo-footer{
    @include font (var(--additional-font), 700, 26px, 1.19, 0.03em, var(--title-text-color2));
    
    @media screen and (min-width:480px) {
        max-width: 480px;
        margin-left: 163px;
    }

    @media screen and (min-width:768px) {
        max-width: 768px;
        margin-left: 115px;
    }

    @media screen and (min-width:1200px) {
        max-width: 1200px;
        margin-left: 0;
    }

}

.web{
    color: var(--accent-color);
}

.list-footer{
    margin-top: 20px;
    @media screen and (min-width:480px) {
        max-width: 480px;
        margin-top: 20px;
        text-align: center;
    }

    @media screen and (min-width:768px) {
        max-width: 768px;
        margin-left: 76px;
        margin-right: 165px;
        text-align: center;
    }

    @media screen and (min-width:1200px) {
        max-width: 1200px;
        margin-left: 0;
        margin-right: 70px;
        text-align:start;

        
       
    }
}

.footer-link {
    @include font (var(--primary-font), null, 14px, 1.71, 0.03em, var(--title-text-color2));
    text-decoration: none;
    
}

.footer-contact{
    @include font (var(--primary-font), null, 14px, 1.71, 0.03em, rgba(255, 255, 255, 0.6));
    text-decoration: none;


  
}

.li-footer:not(:last-child){
    margin-bottom: 9px;
    
}
